extends ../layout

block content

  .row
    .span12
      .search-info Searched for <strong>#{q}</strong> and found <strong>#{ result.count } packages</strong>

  .row
    for package in result.packages
      .span6
        .package.small
          h3
            a( href=url('packages_show', { id: package.name } ) )= package.name
            &nbsp;
            span.version - #{package.latest} 

          .author #{package.author}

          .description= package.description

          .tags
            for tag in package.tags
              a.btn.btn-mini(href=url('search_index') + '?q=' + tag)= tag
              &nbsp;
